#addUser {
  flex-basis: 100%;
  max-width: 100%;
}

#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

#todo-list-title {
  padding: 30px;
  background-color: #990000;
}

#addNewTodo{
  padding: 30px;
  background-color: lightcoral
}

.owner1{
  padding: 30px;
  background-color: lightcoral
}

