<div>
  <button id="addNewTodo" mat-raised-button (click)="openDialog()">Add New Todo</button>
</div>

<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <div>
      <mat-card>
      <mat-card-title id="todo-list-title">Todos</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <input matInput id="todoOwner" #input type="text" placeholder="Filter by owner"
                 (input)="todoOwner = $event.target.value">
        </mat-form-field>
        <mat-form-field>
          <input matInput id="todoBody" #input type="text" placeholder="Filter by body"
                 (input)="todoBody = $event.target.value">
        </mat-form-field>
        <mat-form-field>
          <input matInput id="todoStatus" #input type="text" placeholder="Filter by status (Complete/Incomplete)"
                 (input)="todoStatus = $event.target.value">
        </mat-form-field>
        <mat-form-field>
          <input matInput id="todoCategory" #input type="text" placeholder="Filter by category"
                 (input)="todoCategory = $event.target.value">
        </mat-form-field>
        <button mat-raised-button id="submit" color="primary" #input type="button" (click)="loadService()">Submit
        </button>

        <div *ngIf="todos; else todosError">
          <mat-card #elem [id]="todos"  *ngFor="let todo of this.filterTodos(todoOwner, todoBody, todoStatus, todoCategory)">

              <mat-card-title class="owner1"> {{todo.owner}} </mat-card-title>

            <mat-card-content>Category: {{todo.category}}</mat-card-content>
            <mat-card-content>Status: {{todo.status}}</mat-card-content>
            <mat-card-content>Owner: {{todo.owner}}</mat-card-content>
            <mat-card-content>Body: {{todo.body}}</mat-card-content>
          </mat-card>
        </div>
        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #usersError>
          <mat-error>
            There was a problem loading the users. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
